<!DOCTYPE html>
<html lang="vi">

<head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8">
    <title>Mê Vợ Không Lối Về</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="body_truyen">
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <script
                type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme");</script>
            <div class="container">
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse"><span class="sr-only">Hiện menu</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button><a class="header-logo" href="https://truyenfull.vn/"
                        title="doc truyen">doc truyen</a></div>
                <div class="navbar-collapse collapse">
                    <ul class="control nav navbar-nav ">
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Danh sách <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-moi/"
                                        title="Truyện mới cập nhật">Truyện mới cập nhật</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện Hot">Truyện
                                        Hot</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện Full">Truyện
                                        Full</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="Tiên Hiệp Hay">Tiên
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/" title="Kiếm Hiệp Hay">Kiếm
                                        Hiệp Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/truyen-teen-hay/"
                                        title="Truyện Teen Hay">Truyện Teen Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="Ngôn Tình Hay">Ngôn
                                        Tình Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/" title="Ngôn Tình Sắc">Ngôn
                                        Tình Sắc</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/"
                                        title="Ngôn Tình Ngược">Ngôn Tình Ngược</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                                        title="Ngôn Tình Sủng">Ngôn Tình Sủng</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="Ngôn Tình Hài">Ngôn
                                        Tình Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hai/" title="Đam Mỹ Hài">Đam Mỹ
                                        Hài</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-hay/" title="Đam Mỹ Hay">Đam Mỹ
                                        Hay</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="Đam Mỹ H Văn">Đam Mỹ
                                        H Văn</a></li>
                                <li><a href="https://truyenfull.vn/danh-sach/dam-my-sac/" title="Đam Mỹ Sắc">Đam Mỹ
                                        Sắc</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Thể loại <span
                                    class="caret"></span></a>
                            <div class="dropdown-menu multi-column">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                                    title="Truyện Tiên Hiệp">Tiên Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/kiem-hiep/"
                                                    title="Truyện Kiếm Hiệp">Kiếm Hiệp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                                    title="Truyện Ngôn Tình">Ngôn Tình</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dam-my/"
                                                    title="Truyện Đam Mỹ">Đam Mỹ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-truong/"
                                                    title="Truyện Quan Trường">Quan Trường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/vong-du/"
                                                    title="Truyện Võng Du">Võng Du</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khoa-huyen/"
                                                    title="Truyện Khoa Huyễn">Khoa Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/he-thong/"
                                                    title="Truyện Hệ Thống">Hệ Thống</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                                    title="Truyện Huyền Huyễn">Huyền Huyễn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-gioi/"
                                                    title="Truyện Dị Giới">Dị Giới</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/di-nang/"
                                                    title="Truyện Dị Năng">Dị Năng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/quan-su/"
                                                    title="Truyện Quân Sự">Quân Sự</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/lich-su/"
                                                    title="Truyện Lịch Sử">Lịch Sử</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/xuyen-khong/"
                                                    title="Truyện Xuyên Không">Xuyên Không</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/xuyen-nhanh/"
                                                    title="Truyện Xuyên Nhanh">Xuyên Nhanh</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/trong-sinh/"
                                                    title="Truyện Trọng Sinh">Trọng Sinh</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/trinh-tham/"
                                                    title="Truyện Trinh Thám">Trinh Thám</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/tham-hiem/"
                                                    title="Truyện Thám Hiểm">Thám Hiểm</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/linh-di/"
                                                    title="Truyện Linh Dị">Linh Dị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sac/" title="Truyện Sắc">Sắc</a>
                                            </li>
                                            <li><a href="https://truyenfull.vn/the-loai/nguoc/"
                                                    title="Truyện Ngược">Ngược</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/sung/"
                                                    title="Truyện Sủng">Sủng</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/cung-dau/"
                                                    title="Truyện Cung Đấu">Cung Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-cuong/"
                                                    title="Truyện Nữ Cường">Nữ Cường</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/gia-dau/"
                                                    title="Truyện Gia Đấu">Gia Đấu</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dong-phuong/"
                                                    title="Truyện Đông Phương">Đông Phương</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="dropdown-menu">
                                            <li><a href="https://truyenfull.vn/the-loai/do-thi/"
                                                    title="Truyện Đô Thị">Đô Thị</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/bach-hop/"
                                                    title="Truyện Bách Hợp">Bách Hợp</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/hai-huoc/"
                                                    title="Truyện Hài Hước">Hài Hước</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/dien-van/"
                                                    title="Truyện Điền Văn">Điền Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/co-dai/"
                                                    title="Truyện Cổ Đại">Cổ Đại</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/mat-the/"
                                                    title="Truyện Mạt Thế">Mạt Thế</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                                    title="Truyện Truyện Teen">Truyện Teen</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                                    title="Truyện Phương Tây">Phương Tây</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/nu-phu/"
                                                    title="Truyện Nữ Phụ">Nữ Phụ</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/light-novel/"
                                                    title="Truyện Light Novel">Light Novel</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/viet-nam/"
                                                    title="Truyện Việt Nam">Việt Nam</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/doan-van/"
                                                    title="Truyện Đoản Văn">Đoản Văn</a></li>
                                            <li><a href="https://truyenfull.vn/the-loai/khac/"
                                                    title="Truyện Khác">Khác</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Phân loại theo
                                Chương <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://truyenfull.vn/top-truyen/duoi-100-chuong/"
                                        title="Dưới 100 chương">Dưới 100 chương</a></li>
                                <li><a href="https://truyenfull.vn/top-truyen/100-500-chuong/"
                                        title="100 - 500 chương">100 - 500 chương</a></li>
                                <li><a href="https://truyenfull.vn/top-truyen/500-1000-chuong/"
                                        title="500 - 1000 chương">500 - 1000 chương</a></li>
                                <li><a href="https://truyenfull.vn/top-truyen/tren-1000-chuong/"
                                        title="Trên 1000 chương">Trên 1000 chương</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Tùy chỉnh <span
                                    class="caret"></span></a>
                            <div class="dropdown-menu dropdown-menu-right settings">
                                <form class="form-horizontal">
                                    <div class="form-group form-group-sm"><label class="col-sm-2 col-md-5 control-label"
                                            for="truyen-background">Màu nền</label>
                                        <div class="col-sm-5 col-md-7"><select class="form-control"
                                                id="truyen-background">
                                                <option value="#F4F4F4" selected>Xám nhạt</option>
                                                <option value="#232323">Màu tối</option>
                                            </select></div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="https://truyenfull.vn/tim-kiem/" role="search">
                        <div class="input-group search-holder"><input aria-label="Từ khóa tìm kiếm" role="search key"
                                class="form-control" id="search-input" type="search" name="tukhoa"
                                placeholder="Tìm kiếm..." value="" required>
                            <div class="input-group-btn"><button class="btn btn-default" type="submit"
                                    aria-label="Tìm kiếm" role="search"><span
                                        class="glyphicon glyphicon-search"></span></button></div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
                                href="https://truyenfull.vn" accesskey="1"><span
                                    class="glyphicon glyphicon-home"></span></a><a href="https://truyenfull.vn"
                                title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <h1><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/" title="Mê Vợ Không Lối Về"
                                    itemprop="item"><span itemprop="name">Mê Vợ Không Lối Về</span></a></h1>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container csstransforms3d" id="truyen">
            <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
                <div class="col-xs-12 col-info-desc" itemscope itemtype="https://schema.org/Book">
                    <div class="title-list book-intro">
                        <h2>Thông tin truyện</h2>
                    </div>
                    <h3 class="title" itemprop="name">Mê Vợ Không Lối Về</h3>
                    <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                        <div class="books">
                            <div class="book"><img
                                    src="https://static.8cache.com/cover/eJzLyTDWL0nLD_dLKy0IzIx09jfPyc8O8w5Pck3yzysPCSwJiAzxzjYKNs90NC80dsyP8K80rTQKzjKON8qND_YpK3D2K8o1DvY0Ss7OKjJxc08PL0kJdLQtNzI01c0wNjICAEFJH9I=/me-vo-khong-loi-ve-914117.jpg"
                                    alt="Mê Vợ Không Lối Về" itemprop="image"></div>
                        </div>
                        <div class="info">
                            <div>
                                <h3>Tác giả:</h3><a itemprop="author"
                                    href="https://truyenfull.vn/tac-gia/chieu-tai-tien-bao/"
                                    title="Chiêu Tài Tiến Bảo">Chiêu Tài Tiến Bảo</a>
                            </div>
                            <div>
                                <h3>Thể loại:</h3><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                    title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/nguoc/" title="Ngược">Ngược</a>, <a
                                    itemprop="genre" href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a>
                            </div>
                            <div>
                                <h3>Nguồn:</h3><span class="source">truyenhayonline.com</span>
                            </div>
                            <div>
                                <h3>Trạng thái:</h3><span class="text-success">Full</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 desc">
                        <div class="rate">
                            <div class="rate-holder" data-score="6.9"></div><em class="rate-text"></em>
                            <div class="small" itemprop="aggregateRating" itemscope
                                itemtype="https://schema.org/AggregateRating"><em>Đánh giá: <strong><span
                                            itemprop="ratingValue">6.9</span></strong>/<span class="text-muted"
                                        itemprop="bestRating">10</span> từ <strong><span
                                            itemprop="ratingCount">2423</span> lượt</strong></em></div>
                        </div>
                        <div class="desc-text desc-text-full" itemprop="description">Một cuộc giao dịch, cô mang thai
                            con của người lạ, mang bụng bầu gả cho người đàn ông đã đính ước từ nhỏ. Vốn cho rằng chỉ là
                            một cuộc giao dịch, lại dây dưa thứ tình cảm không nên có trong cuộc hôn nhân này. Mười
                            tháng hoài thai sắp sinh, một tờ đơn ly hôn trên đất, cô mới hoàn toàn tình ngộ. Sau này anh
                            ta nói "Bà xã về đi, người anh yêu luôn là em"</div>
                        <div class="showmore"><a class="btn btn-default btn-xs hide" href="javascript:void(0)"
                                title="Xem thêm">Xem thêm »</a></div>
                    </div>
                </div>
                <div class="col-xs-12" id="list-chapter">
                    <div class="title-list">
                        <h2>Danh sách chương</h2>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul class="list-chapter">
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-1/"
                                        title="Mê Vợ Không Lối Về - Chương 1: Tôi không hối hận"><span
                                            class="chapter-text"><span>Chương </span></span>1: Tôi không hối hận</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-2/"
                                        title="Mê Vợ Không Lối Về - Chương 2: Mang thai rồi"><span
                                            class="chapter-text"><span>Chương </span></span>2: Mang thai rồi</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-3/"
                                        title="Mê Vợ Không Lối Về - Chương 3: Tôi phải lấy anh"><span
                                            class="chapter-text"><span>Chương </span></span>3: Tôi phải lấy anh</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-4/"
                                        title="Mê Vợ Không Lối Về - Chương 4: Kết hôn không có lễ cưới và nghi thức"><span
                                            class="chapter-text"><span>Chương </span></span>4: Kết hôn không có lễ cưới
                                        và nghi thức</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-5/"
                                        title="Mê Vợ Không Lối Về - Chương 5: Động phòng hoa chúc"><span
                                            class="chapter-text"><span>Chương </span></span>5: Động phòng hoa chúc</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-6/"
                                        title="Mê Vợ Không Lối Về - Chương 6: Ba người sống nương tựa lẫn nhau"><span
                                            class="chapter-text"><span>Chương </span></span>6: Ba người sống nương tựa
                                        lẫn nhau</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-7/"
                                        title="Mê Vợ Không Lối Về - Chương 7: Phá thai không đau"><span
                                            class="chapter-text"><span>Chương </span></span>7: Phá thai không đau</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-8/"
                                        title="Mê Vợ Không Lối Về - Chương 8: Anh muốn tôi nói thế nào?"><span
                                            class="chapter-text"><span>Chương </span></span>8: Anh muốn tôi nói thế
                                        nào?</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-9/"
                                        title="Mê Vợ Không Lối Về - Chương 9: Ứng tuyển phiên dịch viên"><span
                                            class="chapter-text"><span>Chương </span></span>9: Ứng tuyển phiên dịch
                                        viên</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-10/"
                                        title="Mê Vợ Không Lối Về - Chương 10: Bị người cản trở từ bên trong"><span
                                            class="chapter-text"><span>Chương </span></span>10: Bị người cản trở từ bên
                                        trong</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-11/"
                                        title="Mê Vợ Không Lối Về - Chương 11: Đừng để bị lừa bởi vẻ bề ngoài"><span
                                            class="chapter-text"><span>Chương </span></span>11: Đừng để bị lừa bởi vẻ bề
                                        ngoài</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-12/"
                                        title="Mê Vợ Không Lối Về - Chương 12: Sau này gọi là anh trai"><span
                                            class="chapter-text"><span>Chương </span></span>12: Sau này gọi là anh
                                        trai</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-13/"
                                        title="Mê Vợ Không Lối Về - Chương 13: Cô biết tiếng nước a"><span
                                            class="chapter-text"><span>Chương </span></span>13: Cô biết tiếng nước a</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-14/"
                                        title="Mê Vợ Không Lối Về - Chương 14: Không hiểu nổi cô ấy nữa"><span
                                            class="chapter-text"><span>Chương </span></span>14: Không hiểu nổi cô ấy
                                        nữa</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-15/"
                                        title="Mê Vợ Không Lối Về - Chương 15: Đứa trẻ ấy là của anh ta?"><span
                                            class="chapter-text"><span>Chương </span></span>15: Đứa trẻ ấy là của anh
                                        ta?</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-16/"
                                        title="Mê Vợ Không Lối Về - Chương 16: Đã điều tra rõ rồi"><span
                                            class="chapter-text"><span>Chương </span></span>16: Đã điều tra rõ rồi</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-17/"
                                        title="Mê Vợ Không Lối Về - Chương 17: Trong bụng là một đứa con hoang"><span
                                            class="chapter-text"><span>Chương </span></span>17: Trong bụng là một đứa
                                        con hoang</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-18/"
                                        title="Mê Vợ Không Lối Về - Chương 18: Ở đây khoe ân ái"><span
                                            class="chapter-text"><span>Chương </span></span>18: Ở đây khoe ân ái</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-19/"
                                        title="Mê Vợ Không Lối Về - Chương 19: Rõ ràng hoang đường lại lưu luyến"><span
                                            class="chapter-text"><span>Chương </span></span>19: Rõ ràng hoang đường lại
                                        lưu luyến</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-20/"
                                        title="Mê Vợ Không Lối Về - Chương 20: Trên đời này sao có thể có tình yêu"><span
                                            class="chapter-text"><span>Chương </span></span>20: Trên đời này sao có thể
                                        có tình yêu</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-21/"
                                        title="Mê Vợ Không Lối Về - Chương 21: Cố ý dụ dỗ"><span
                                            class="chapter-text"><span>Chương </span></span>21: Cố ý dụ dỗ</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-22/"
                                        title="Mê Vợ Không Lối Về - Chương 22: Không muốn miệt mài theo đuổi"><span
                                            class="chapter-text"><span>Chương </span></span>22: Không muốn miệt mài theo
                                        đuổi</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-23/"
                                        title="Mê Vợ Không Lối Về - Chương 23: Trái lại đã coi thường cô rồi"><span
                                            class="chapter-text"><span>Chương </span></span>23: Trái lại đã coi thường
                                        cô rồi</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-24/"
                                        title="Mê Vợ Không Lối Về - Chương 24: Hài lòng về ba của con tôi"><span
                                            class="chapter-text"><span>Chương </span></span>24: Hài lòng về ba của con
                                        tôi</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-25/"
                                        title="Mê Vợ Không Lối Về - Chương 25: Vậy mà tông triển bạch không bị què"><span
                                            class="chapter-text"><span>Chương </span></span>25: Vậy mà tông triển bạch
                                        không bị què</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <ul class="list-chapter">
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-26/"
                                        title="Mê Vợ Không Lối Về - Chương 26: Người phụ nữ đầy mâu thuẫn"><span
                                            class="chapter-text"><span>Chương </span></span>26: Người phụ nữ đầy mâu
                                        thuẫn</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-27/"
                                        title="Mê Vợ Không Lối Về - Chương 27: Con yêu, con phải mạnh mẽ lên"><span
                                            class="chapter-text"><span>Chương </span></span>27: Con yêu, con phải mạnh
                                        mẽ lên</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-28/"
                                        title="Mê Vợ Không Lối Về - Chương 28: Đừng tốt với em như vậy"><span
                                            class="chapter-text"><span>Chương </span></span>28: Đừng tốt với em như
                                        vậy</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-29/"
                                        title="Mê Vợ Không Lối Về - Chương 29: Cáo mượn oai hùm"><span
                                            class="chapter-text"><span>Chương </span></span>29: Cáo mượn oai hùm</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-30/"
                                        title="Mê Vợ Không Lối Về - Chương 30: Đêm qua điên cuồng đến mức nào"><span
                                            class="chapter-text"><span>Chương </span></span>30: Đêm qua điên cuồng đến
                                        mức nào</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-31/"
                                        title="Mê Vợ Không Lối Về - Chương 31: Có bản lĩnh thì kiện thắng tôi đi!"><span
                                            class="chapter-text"><span>Chương </span></span>31: Có bản lĩnh thì kiện
                                        thắng tôi đi!</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-32/"
                                        title="Mê Vợ Không Lối Về - Chương 32: Tình cảm đêm hôm đó"><span
                                            class="chapter-text"><span>Chương </span></span>32: Tình cảm đêm hôm đó</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-33/"
                                        title="Mê Vợ Không Lối Về - Chương 33: Mưu tính của thẩm thanh anh"><span
                                            class="chapter-text"><span>Chương </span></span>33: Mưu tính của thẩm thanh
                                        anh</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-34/"
                                        title="Mê Vợ Không Lối Về - Chương 34: Cho vợ chỗ dựa"><span
                                            class="chapter-text"><span>Chương </span></span>34: Cho vợ chỗ dựa</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-35/"
                                        title="Mê Vợ Không Lối Về - Chương 35: Cơ hội hiếm có"><span
                                            class="chapter-text"><span>Chương </span></span>35: Cơ hội hiếm có</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-36/"
                                        title="Mê Vợ Không Lối Về - Chương 36: Đương nhiên là thân với chồng tôi"><span
                                            class="chapter-text"><span>Chương </span></span>36: Đương nhiên là thân với
                                        chồng tôi</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-37/"
                                        title="Mê Vợ Không Lối Về - Chương 37: Đừng sờ loạn"><span
                                            class="chapter-text"><span>Chương </span></span>37: Đừng sờ loạn</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-38/"
                                        title="Mê Vợ Không Lối Về - Chương 38: Đứa trẻ là của anh ấy"><span
                                            class="chapter-text"><span>Chương </span></span>38: Đứa trẻ là của anh
                                        ấy</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-39/"
                                        title="Mê Vợ Không Lối Về - Chương 39: Tôi không phải là người đàn ông xấu"><span
                                            class="chapter-text"><span>Chương </span></span>39: Tôi không phải là người
                                        đàn ông xấu</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-40/"
                                        title="Mê Vợ Không Lối Về - Chương 40: Em làm bạn đi cùng của anh"><span
                                            class="chapter-text"><span>Chương </span></span>40: Em làm bạn đi cùng của
                                        anh</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-41/"
                                        title="Mê Vợ Không Lối Về - Chương 41: Nhân vật phụ lấn át nhân vật chính"><span
                                            class="chapter-text"><span>Chương </span></span>41: Nhân vật phụ lấn át nhân
                                        vật chính</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-42/"
                                        title="Mê Vợ Không Lối Về - Chương 42: Sẽ không bởi vì đứa trẻ mà tiếp nhận cô"><span
                                            class="chapter-text"><span>Chương </span></span>42: Sẽ không bởi vì đứa trẻ
                                        mà tiếp nhận cô</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-43/"
                                        title="Mê Vợ Không Lối Về - Chương 43: Hành động rất thân mật"><span
                                            class="chapter-text"><span>Chương </span></span>43: Hành động rất thân
                                        mật</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-44/"
                                        title="Mê Vợ Không Lối Về - Chương 44: Lí trí vượt qua phạm vi khống chế"><span
                                            class="chapter-text"><span>Chương </span></span>44: Lí trí vượt qua phạm vi
                                        khống chế</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-45/"
                                        title="Mê Vợ Không Lối Về - Chương 45: Cô làm tôi hết đau"><span
                                            class="chapter-text"><span>Chương </span></span>45: Cô làm tôi hết đau</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-46/"
                                        title="Mê Vợ Không Lối Về - Chương 46: Tôi giúp anh"><span
                                            class="chapter-text"><span>Chương </span></span>46: Tôi giúp anh</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-47/"
                                        title="Mê Vợ Không Lối Về - Chương 47: Ông ta quỳ xuống rồi"><span
                                            class="chapter-text"><span>Chương </span></span>47: Ông ta quỳ xuống rồi</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-48/"
                                        title="Mê Vợ Không Lối Về - Chương 48: Cách thức trừng phạt"><span
                                            class="chapter-text"><span>Chương </span></span>48: Cách thức trừng phạt</a>
                                </li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-49/"
                                        title="Mê Vợ Không Lối Về - Chương 49: Có liên quan với ba tôi?"><span
                                            class="chapter-text"><span>Chương </span></span>49: Có liên quan với ba
                                        tôi?</a></li>
                                <li><span class="glyphicon glyphicon-certificate"></span> <a
                                        href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/chuong-50/"
                                        title="Mê Vợ Không Lối Về - Chương 50: Chúng ta là vợ chồng"><span
                                            class="chapter-text"><span>Chương </span></span>50: Chúng ta là vợ chồng</a>
                                </li>
                            </ul>
                        </div>
                    </div> <input id="truyen-id" type="hidden" value="22044"><input id="total-page" type="hidden"
                        value="22"><input id="truyen-ascii" type="hidden" value="me-vo-khong-loi-ve-914117"><input
                        id="truyen-comment" type="hidden" value="me-vo-khong-loi-ve"><input id="chapter-sac"
                        type="hidden" value="0">
                    <ul class="pagination pagination-sm">
                        <li class="active"><span>1<span class="sr-only"> (đang xem)</span></span></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-2/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 2">2</a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-3/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 3">3</a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-4/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 4">4</a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-16/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 16">16</a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-21/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 21">21</a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-2/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 2"><span class="sr-only">Trang tiếp</span><span
                                    class="glyphicon glyphicon-menu-right"></span></a></li>
                        <li><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/trang-22/#list-chapter"
                                title="Mê Vợ Không Lối Về - Trang 22">Cuối <span class="arrow">&raquo;</span></a></li>
                        <li class="dropup page-nav"><a href="javascript:void(0)" data-toggle="dropdown">Chọn trang <span
                                    class="caret"></span></a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form action="." name="page_jump" id="page_jump" method="get">
                                    <div class="input-group"><input name="page_type" type="hidden" value=""><input
                                            name="truyen" type="hidden" value="me-vo-khong-loi-ve-914117"><input
                                            name="filter" type="hidden" value=""><input class="form-control" name="page"
                                            type="number" placeholder="Số trang..." value=""><span
                                            class="input-group-btn"><button class="btn btn-default"
                                                type="submit">Đi</button></span></div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 comment-box">
                    <div class="title-list">
                        <h2>Bình luận truyện</h2>
                    </div>
                    <div class="col-xs-12">
                        <div class="row" id="fb-comment-story"></div>
                    </div>
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
                <div class="list list-truyen col-xs-12">
                    <div class="title-list">
                        <h4>Truyện cùng tác giả</h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                            <h3><a href="https://truyenfull.vn/sau-khi-ly-hon-chong-cu-luon-muon-theo-duoi-toi/"
                                    title="Sau Khi Ly Hôn Chồng Cũ Luôn Muốn Theo Đuổi Tôi">Sau Khi Ly Hôn Chồng Cũ Luôn
                                    Muốn Theo Đuổi Tôi</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                            <h3><a href="https://truyenfull.vn/vo-cu-mang-thai-anh-yeu-em/"
                                    title="Vợ Cũ Mang Thai Anh Yêu Em">Vợ Cũ Mang Thai Anh Yêu Em</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                            <h3><a href="https://truyenfull.vn/su-hap-dan-cua-tong-tai/"
                                    title="Sự Hấp Dẫn Của Tổng Tài">Sự Hấp Dẫn Của Tổng Tài</a></h3>
                        </div>
                    </div>
                </div>
                <div class="list list-truyen list-side col-xs-12">
                    <div class="title-list">
                        <h4>Truyện đang hot</h4>
                    </div>
                    <div class="row top-nav" data-limit="10">
                        <div class="col-xs-4 active" data-type="day">Ngày</div>
                        <div class="col-xs-4" data-type="month">Tháng</div>
                        <div class="col-xs-4" data-type="all">All time</div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-1">1</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/me-vo-khong-loi-ve-914117/"
                                        title="Mê Vợ Không Lối Về">Mê Vợ Không Lối Về</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                    title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/nguoc/" title="Ngược">Ngược</a>, <a
                                    itemprop="genre" href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-2">2</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/than-dao-dan-ton/" title="Thần Đạo Đan Tôn">Thần Đạo
                                        Đan Tôn</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền
                                    Huyễn</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-3">3</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/the-gioi-hoan-my/" title="Thế Giới Hoàn Mỹ">Thế Giới
                                        Hoàn Mỹ</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm Hiệp</a>, <a
                                    itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                    title="Huyền Huyễn">Huyền Huyễn</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-4">4</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/truyen-dau-pha-thuong-khung/"
                                        title="Đấu Phá Thương Khung">Đấu Phá Thương Khung</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/di-gioi/" title="Dị Giới">Dị Giới</a>, <a
                                    itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                    title="Huyền Huyễn">Huyền Huyễn</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-5">5</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/linh-vu-thien-ha/" title="Linh Vũ Thiên Hạ">Linh Vũ
                                        Thiên Hạ</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/di-gioi/" title="Dị Giới">Dị Giới</a>, <a
                                    itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                    title="Huyền Huyễn">Huyền Huyễn</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-6">6</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/co-vo-ngot-ngao-co-chut-bat-luong-vo-moi-bat-luong-co-chut-ngot/"
                                        title="Cô Vợ Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)">Cô Vợ
                                        Ngọt Ngào Có Chút Bất Lương (Vợ Mới Bất Lương Có Chút Ngọt)</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                    title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/trong-sinh/" title="Trọng Sinh">Trọng Sinh</a>,
                                <a itemprop="genre" href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-7">7</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/re-quy-troi-cho-480197/" title="Rể Quý Trời Cho">Rể
                                        Quý Trời Cho</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                    title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/do-thi/" title="Đô Thị">Đô Thị</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-8">8</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/pham-nhan-tu-tien/" title="Phàm Nhân Tu Tiên">Phàm
                                        Nhân Tu Tiên</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Kiếm Hiệp">Kiếm Hiệp</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-9">9</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/nhat-niem-vinh-hang/"
                                        title="Nhất Niệm Vĩnh Hằng">Nhất Niệm Vĩnh Hằng</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/"
                                    title="Tiên Hiệp">Tiên Hiệp</a>, <a itemprop="genre"
                                    href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền
                                    Huyễn</a></div>
                        </div>
                    </div>
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-10">10</div>
                            <div class="s-title">
                                <h3><a href="https://truyenfull.vn/de-ba/" title="Đế Bá">Đế Bá</a></h3>
                            </div>
                            <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                    title="Huyền Huyễn">Huyền Huyễn</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <div class="container">
            <div class="hidden-xs col-sm-5"> <strong>Truyện Full</strong> - <a title="Đọc truyện online"
                    href="#">Đọc truyện</a> online, <a title="Đọc truyện chữ"
                    href="#">đọc truyện</a> chữ, <a title="Truyện hay"
                    href="#">truyện hay</a>. Website luôn cập nhật những bộ <a title="Truyện mới"
                    href="#">truyện mới</a> thuộc các thể loại đặc sắc như <a
                    title="Truyện tiên hiệp" href="#">truyện tiên hiệp</a>, <a
                    title="Truyện kiếm hiệp" href="#">truyện kiếm hiệp</a>, hay
                <a title="Truyện ngôn tình" href="#">truyện ngôn tình</a> một
                cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right"><a class="backtop"
                        title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                            class="glyphicon glyphicon-upload"></span></a>
                </li>
                <li class="hidden-xs tag-list"><a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/"
                        title="truyện tiên hiệp hay">truyện tiên hiệp hay</a> <a
                        href="https://truyenfull.vn/the-loai/he-thong/" title="truyện hệ thống">truyện hệ thống</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://static.8cache.com/min/g/mainjs-14062022_2.js"></script><noscript>
        <link rel="stylesheet" type="text/css" href="https://static.8cache.com/min/g/maincss-08122021_1.css" />
    </noscript>
    <script>$('head').append('<link rel="stylesheet" type="text/css" href="https://static.8cache.com/min/g/maincss-08122021_1.css"/>');</script>
</body>

</html>