@{
    ViewBag.Title = "ChangePassword";
    Layout = "_UserLayout";
}
<div class="signin-content">
    <div class="signin-image">
        <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
        <a href="/User/Login" class="signup-image-link">Quay về trang đăng nhập</a>
    </div>
    <div class="signin-form">
        <h2 class="form-title">Đổi mật khẩu</h2>
        <form method="POST" action="/User/ChangePassword" class="register-form" id="login-form">
            <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="opassword" id="your_pass" placeholder="Mật khẩu cũ" required />
            </div>
            <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="npassword" id="your_pass" placeholder="Mật khẩu mới" required />
            </div>
            <div class="form-group">
                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="cpassword" id="your_pass" placeholder="Nhập lại mật khẩu mới" required />
            </div>
            <div style="color: red;">@ViewBag.Message</div>
            <div class="form-group form-button">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Đổi mật khẩu" />
            </div>
        </form>
    </div>
</div>
