@{
    ViewBag.Title = "ChangePassword";
    Layout = "_UserLayoutV2";
}
<div class="login-box">
    <div class="login-logo">
        <a href="/Home/Index/"><b>Book</b>Story</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Đổi mật khẩu</p>

            <form action="/User/ChangePassword/" method="post">
                <div class="input-group mb-3">
                    <input type="password" name="opassword" class="form-control" placeholder="Mật khẩu cũ">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="npassword" class="form-control" placeholder="Mật khẩu mới">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="cpassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center mb-3">
                <p>@ViewBag.Message</p>
            </div>
            <p class="mt-3 mb-1">
                <a href="/User/Login/">Trở về trang đăng nhập</a>
            </p>
        </div>
    </div>
</div>