@{
    ViewBag.Title = "Forgot Password";
    Layout = "_UserLayoutV2";
}
<div class="login-box">
    <div class="login-logo">
        <a href="/Home/Index/"><b>Book</b>Story</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Nhập email hệ thống sẽ gửi mật khẩu mới về mail của bạn</p>
            <form action="/User/ForgotPassword/" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Yêu cầu khôi phục mật khẩu</button>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center mb-3">
                <p>@ViewBag.Message</p>
            </div>
            <p class="mt-3 mb-1">
                <a href="/User/Login/">Đăng nhập</a>
            </p>
            <p class="mb-0">
                <a href="/User/Register/" class="text-center">Đăng ký tài khoản mới</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
@*<div class="signin-content">
    <div class="signin-image">
    <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
    <a href="/User/Register" class="signup-image-link">Trở lại trang đăng ký</a>
    <a href="/User/Login/" class="signup-image-link">Trở về trang đăng nhập</a>
    </div>
    <div class="signin-form">
    Quên mật khẩu
    <form method="POST" action="/User/ForgotPassword/">
    <div class="form-group">
    <input type="email" name="email" id="your_name" placeholder="Nhập địa chỉ email" required />
    </div>
    <div style="color: red;">@ViewBag.Message</div>
    <div class="form-group form-button">
    <input type="submit" id="signin" class="form-submit" value="Gửi" />
    </div>
    </form>
    </div>
    </div>*@
