@{
    ViewBag.Title = "Forgot Password";
    Layout = "_UserLayout";
}
<div class="signin-content">
    <div class="signin-image">
        <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
        <a href="/User/Register" class="signup-image-link">Trở lại trang đăng ký</a>
        <a href="/User/Login/" class="signup-image-link">Trở về trang đăng nhập</a>
    </div>
    <div class="signin-form">
        Quên mật khẩu
        <form method="POST" action="/User/ForgotPassword/">
            <div class="form-group">
                <input type="email" name="email" id="your_name" placeholder="Nhập địa chỉ email" required />
            </div>
            <div style="color: red;">@ViewBag.Message</div>
            <div class="form-group form-button">
                <input type="submit" id="signin" class="form-submit" value="Gửi" />
            </div>
        </form>
    </div>
</div>
