@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "Verify";
    Layout = "_UserLayoutV2";
    string json = Context.Session.GetString("register-user");
    int? code = Context.Session.GetInt32("code");
}

<div class="login-box">
    <div class="login-logo">
        <a href="/Home/Index/"><b>Book</b>Story</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        @if (json == null || code == null)
        {
            <div class="signin-form">
                <h3 class="form-title text-center">Đăng ký thành công</h3>
                <p class="col-12 text-center">
                    <a href="/User/Login/">Về trang đăng nhập</a>
                </p>
                <p class="col-12 text-center">
                    <a href="/User/Register/" class="text-center">Về trang đăng ký</a>
                </p>
            </div>

        }
        else
        {
            <div class="card-body login-card-body">
                <p class="login-box-msg">Nhập mã xác minh</p>
                <form action="/User/Verify/" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="code" class="form-control" placeholder="Mã xác minh" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                    <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Xác minh</button>
                        </div>
                        <!-- /.col -->
                </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>@ViewBag.Message</p>
                </div>
                <!-- /.social-auth-links -->

            <p class="mb-1">
                    <a href="/User/Login/">Về trang đăng nhập</a>
                </p>
                <p class="mb-0">
                    <a href="/User/Register/" class="text-center">Về trang đăng ký</a>
                </p>
            </div>
        }
        <!-- /.login-card-body -->
    </div>
</div>

@*<div class="signin-content">
    <div class="signin-image">
    <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
    <a href="/User/Register" class="signup-image-link">Trở lại trang đăng ký</a>
    <a href="/User/Login/" class="signup-image-link">Trở về trang đăng nhập</a>
    </div>
    @if (json == null || code == null)
    {
    <div class="signin-form">
    <h3 class="form-title text-center">Đăng ký thành công</h3>
    </div>
    }
    else
    {
    <div class="signin-form">
    Mã xác minh đã gửi về email kiểm tra
    <form method="POST" action="/User/Verify">
    <div class="form-group">
    <input type="text" name="code" id="your_name" placeholder="Nhập mã code" required />
    </div>
    <div style="color: red;">@ViewBag.Message</div>
    <div class="form-group form-button">
    <input type="submit" id="signin" class="form-submit" value="Gửi" />
    </div>
    </form>
    </div>
    }
    </div>*@
